apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-latest-yml
  labels:
    app: nginx-yml12hnjf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-yml
  template:
    metadata:
      labels:
        app: nginx-yml
    spec:
      containers:
      - name: nginx-yml
        image: nginx:latest
        ports:
        - containerPort: 80
